---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="yamil.ar">
	<main class="max-w-3xl min-h-screen p-4 mx-auto text-white text-sm grid place-content-center">
		<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/99560252-1ae6-4b06-84a9-ff281e500a25/28I867AAzj.json" background="transparent" speed="1" style="width: 151px; height: 85px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
	</main>
</Layout>

<script>
	console.log("now, i'm waking at the %ccrack of dawn", "color: red");
	console.log("to send a little money home");
	console.log("from here %cto the moon.", "color: red");
</script>